<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>Quad one Technologies</h4>
				<p>
					P-8-2-248/A/5/22, & 23 Road-3,<br/>
					Banjara Hills, <br/>
					Hyderabad, Telangana 500034, <br/>
					040 2335 0221.
				</p>
			</div><!-- /col-lg-4 -->
				
			<div class="col-lg-4">
				<h4>My Links</h4>
				<p>
					<a href="javascript:void(0)">Dribbble</a><br/>
					<a href="javascript:void(0)">Twitter</a><br/>
					<a href="javascript:void(0)">Facebook</a>
				</p>
			</div><!-- /col-lg-4 -->
				
			<div class="col-lg-4">
				<h4>About Stanley</h4>
				<p>This cute theme was created to showcase your work in a simple way. Use it wisely.</p>
			</div><!-- /col-lg-4 -->
			
		</div>
	
	</div>
</div>