<div id="ww">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="assets/img/my_pic.jpg" alt="Stanley">
				<h1>Hi, I am Bhaskar!</h1>
				<p>Hello everybody. I'm Bhaskar, a free handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute & clean style.</p>
				<p>Please, consider to register to <a href="javascript:void(0)">our newsletter</a> to be updated with our latest themes and freebies. Like always, you can use this theme in any project freely. Share it with your friends.</p>
				
			</div>
		</div>
	</div> 
</div>